<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <div class="grid2x2">

        <div>
            <div>
                <article class="grid-article">            
                    <h3>Mushroom Class 1 </h3>
                    <p>
                        What are Mushrooms? Mushrooms are a Fungi which are not categorized as either plants, dirt or anything else.
                        They are their own species. 
                    </p>
                    <img src="" alt="Mycelium"/>
                </article>
            </div>
    
            <div>
                <article class="grid-article">
                    <h3>Octopus Mushroom</h3>
                    <p>Mushrooms are basically fruiting bodies. 
                        All mushrooms are connected in a web called mycelium.</p>
                    <img src="" alt="Octopus">
                </article>
            </div>
        </div>
        
        <div>
            <div>
                <article class="grid-article">
                    <h3>Other Mushroom</h3>
                    <p>Fascinating stuff about ohter mushroom goes here</p>
                    <img src="" alt="Octopus">
                </article>
            </div>
            
            <div>
                <article class="grid-article">
                    <h3>Yet another Mushroom</h3>
                    <p>Adding last things in here</p>
                    <img src="" alt="Octopus">
                </article>
            </div>
        </div>
    </div>
</body>
</html>