<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <div id="carouselExampleIndicators" class="carousel slide fix-height" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner fix-height">
          <div class="carousel-item active">
            <img src="images/chicken-of_the-wood.jpeg" class="d-block w-100 img-cover" alt="Chicken of the Wood">
          </div>
          <div class="carousel-item">
            <img src="images/largest_mushroom.jpeg" class="d-block w-100 img-cover" alt="Largest">
          </div>
          <div class="carousel-item">
            <img src="images/lavendel_mushroom.jpeg" class="d-block w-100 img-cover" alt="Lavendel">
          </div>
          <div class="carousel-item">
            <img src="images/Lions_Main.jpeg" class="d-block w-100 img-cover" alt="Lion's Main">
          </div>
          <div class="carousel-item">
            <img src="images/octopus-stinkhorn.jpeg" class="d-block w-100 img-cover" alt="Octopus Stinkhorn">
          </div>
          <div class="carousel-item">
            <img src="images/veil_lady.jpeg" class="d-block w-100 img-cover" alt="Veil Lady">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>