<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <div id="about">
        <div class="header">
            <h1>Edible Mushrooms</h1>
            <h5>There are alot of spieces that offer alot of great benefits</h5>
        </div>
        <div class="container">
    
            <div class="row">
                <div class="col-sm">
                    <article class="grid-article">            
                        <h3>Chicken of the Wood</h3>
                        <p>
                            The chicken of the wood: would be the ultimated meat replacement vegitarien food for vegan chicken. wy??? becaus it actully tast and tears like chicken.
                            you know wen you tear chicken meat it has that stringy meat? chicken of the wood is exactly the same.
                            this type of mushroom only grow from the beginning of august til december if you get a change i would highly encourge you to find this mushroom and try to eat it as a alternetive.
                        </p>
                        <img src="/images/chicken-of_the-wood.jpeg" alt="Chicken of the Wood"/>
                    </article>
                </div>
        
                <div class="col-sm">
                    <article class="grid-article">
                        <h3>Lions main</h3>
                        <p>Lions main is my all time favorite. this mushroom has one of the greated propertys that it can help you rember stuff eazy and is a excellent help for fighting alzheimer.
                        this mushroom is special as its the only food that give your cordysoids wen eating it what are cordysoids? Thats a brain protein you can only get wen you are working out. making this mushroom olso a great anti-depressant.
                        you can find these type of mushroom in vitamin store in pill form but if you want you can olso eat the caus you won't believe it: they tast like shrimp!!
                        making this a great support for adding vegies with your fish.
                        </p>
                        <img src="/images/Lions_Main.jpeg" alt="lions main">
                    </article>
                </div>
            </div>
            
            <div class="row">
                <div class="col-sm">
                    <article class="grid-article">
                        <h3>Puffball</h3>
                        <p>the puffball: wy is it called like that? wen wen you hit the top of the ball it "puffs" out its spore like a little cloud given the name.
                            even though you might think oh it puff out spores???? that not a edible mushroom. You would be wrong this mushroom tast exacly the same as the supermarkt white mushroom
                            and in fact has another special property that this mushroom tent to grow quite large somtimes about 30cm big and its completely solid on the inside making it a great eazy to grow food product.
                        </p>
                        <img src="/images/Puffball-Mushrooms-1024x512.jpeg" alt="Puffball">
                    </article>
                </div>
                
                <div class="col-sm">
                    <article class="grid-article">
                        <h3>Lavendel Mushroom</h3>
                        <p>Cortinarius Violaceus. A spiecies that wen grow near Lavendel will take in many propertys of lavendel.
                            Like it smell and tast. they looks poisonous but are in fact very edible. you soon learn that most (80%) of mushroom that are poisions are white.
                            this mushroom is unfortunately very hard to find sinds lavendel has to grow close to it. but wen found can add great lavendel flavour to your dishes :D
                        </p>
                        <img src="/images/lavendel_mushroom.jpeg" alt="lavendel_mushroom">
                    </article>
                </div>
            </div>
        </div>
    </div>
</body>
</html>