<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

    
    <div class="grid2x2">
        <h1>benefit of eating mushrrooms</h1>
        <div>
            <div>
                <article class="grid-article">            
                    <h3>lions main <main></main></h3>
                    <p> Lion main is one of the most intressting mushroom in that its the only!
                        Food that only food that as the ability to send cordysoids.
                         that help to strengthen your brain pulsen and give you alot of protien 
                    </p>
                    <img src="/public/images/Lions_Main.jpeg" alt="Mycelium"/>
                </article>
            </div>
    
            <div>
                <article class="grid-article">
                    <h3>puffball-mushroom</h3>
                    <p>Mushrooms are basically fruiting bodies. 
                        All mushrooms are connected in a web called mycelium.</p>
                    <img src="/public/images/Puffball-Mushrooms-1024x512.jpeg" alt="Octopus">
                </article>
            </div>
        </div>
        
        <div>
            <div>
                <article class="grid-article">
                    <h3> Mushroom</h3>
                    <p>Fascinating stuff about ohter mushroom goes here</p>
                    <img src="/public/images/Oyster-mushrooms.jpeg" alt="Oyster">
                </article>
            </div>
            
            <div>
                <article class="grid-article">
                    <h3>chicken of the wood</h3>
                    <p>Another amazing mushroom caus this one could replace chicken.
                        this mushroom both tast and has the meat structure of chicken.
                        it does need som good chicken spices but this is a great vegentarie replacement.
                    </p>
                    <img src="/public/images/chicken-of_the-wood.jpeg" alt="Chicken of the wood">
                </article>
            </div>
        </div>
    </div>
</body>
</html>