body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

#main {
    background-image: url("/images/aminata_muscaria.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

#main>h1 {
    margin:0;
}

#main>h3 {
    width: 80%;
}

.grid-article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px;
}